

body{
    background-color: black;
    padding: 10;
    margin: 10;
}

#textbox {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height for demonstration */
    background-color: black;
    color: green;
    font-family: 'VT323', monospace;
    text-align: center; /* Center text within the div */
}





